@import "partials/footer";

.violet { color: $frama; }
.orange { color: $soft; }

#fp-footer #f-footer {
  display: none !important;
}

/* Sections background */
html {
  background: $d1 !important;
}

#app {
  background: $d1;
  color: $s5;
  fill: $s3;

  h1, h2, h3 {
    color: $s4;
  }

  h2 {
    background: $p2;
    padding: .5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  h3 {
    margin-top: 1rem;
    margin-bottom: .5rem;
  }

  p {
    &:last-child {
      margin: 0;
    }
  }

  main {
    .container {
      background: #fff;
      margin-bottom: 1.5rem;

      a:not(.btn) {
        color: $s5;
        background: linear-gradient(to top, $p4 2px, transparent 2px);

        &:hover,
        &:focus {
          color:  $s6;
          background: linear-gradient(to top, $p4 2px, $p1 2px);
          text-decoration: none;
        }
      }

      .list-group .list-group-item {
        background: none;
        height: 100%;

        &:hover,
        &:focus {
          background: $p1;
        }
      }
    }

    ul:not(.list-inline) {
      list-style: url("../img/bullet-o.png");
      padding-left:20px;
    }
  }

}

#f-i18n {
  .btn {
    color: $s5;
    fill: $s5;

    &:hover, &:focus {
      color: #fff;
      fill: #fff;
    }
  }

  &.show > .btn svg {
    fill: #fff !important;
  }

  ul.dropdown-menu.show {
    list-style: none;
    padding-left: 0;

    .dropdown-item {
      background: #fff;

      &:hover, &:focus {
        background: $p2;
      }
    }
  }
}
